/* Main content */
.mainContent {
    margin-top: 60px; /* Add a top margin to avoid content overlay */
}

tr.activeTatwa {
    background-color:#e9ecef;
    box-shadow: 0px 5px 5px darkgray;
    -moz-box-shadow: 0px 5px 5px darkgray;
    -webkit-box-shadow: 0px 5px 5px darkgray;  
}
